/*
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=latin,latin-ext);
*/
@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-Regular.woff2?v=1.1.0") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-Bold.woff2?v=1.1.0") format("woff2");
  font-weight: bold;
  font-style: normal;
}